<!DOCTYPE html>
<html lang="en">

<head>
  <title>Artistify</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="/stylesheets/mod.form.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>

<body>
  <header id="header-main">
    <span id="logo-main">
      <a href="/">Artistify</a>
    </span>
    <nav>
      <a href="/" class="link">home</a> |
      <a href="/dashboard" class="link"><i class="fa fa-user fa-1x"></i></a>
    </nav>
  </header>

  <main id="content-main">
    {{{body}}}
  </main>
</body>

</html>