.form {
  display: flex;
  flex-direction: column;
}

.form.row {
  flex-direction: row;
}

.form .input {
  height: 32px;
  margin-bottom: 20px;
  border: 1px solid;
  padding: 5px 0 5px 20px;
}

.form .icon {
  margin-bottom: 20px;
}

.form .label {
  cursor: pointer;
  margin-bottom: 10px;
}

.form .btn {
  height: 32px;
  max-width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  color: whitesmoke;
  cursor: pointer;
  border: none;
}

.form .btn:hover {
  background: whitesmoke;
  color: black;
  border: 1px solid;
}
